@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata-Regular.ttf);
}

.body {
  height: 100%;
}

* {
  border-radius: 0 !important;
}

.container {
  background-color: #1d1f21;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #3b3c3b;
  width: 952px;
  padding: 25px;
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
}

.hero.is-dark {
  background-color: #1D1F21
}

li a {
  color: #c5c8c6;
}

li a:hover, li a:visited, li a:active {
  text-decoration: none;
  transition: .1s;
}

#social {
  color: #2A7ABE;
}

#social ul li a {
  color: #c5c8c6;
}

#social ul li a:hover {
  color: #2A7ABE;
}

#reddit {
  color: #F09F41;
}

#reddit ul li a {
  color: #c5c8c6;
}

#reddit ul li a:hover {
  color: #F09F41;
}

#other {
  color: #90BD39;
}

#other ul li a {
  color: #c5c8c6;
}

#other ul li a:hover {
  color: #90BD39;
}

#files {
  color: #cc4a4a;
}

#files ul li a {
  color: #c5c8c6;
}

#files ul li a:hover {
  color: #cc4a4a;
}

#code {
  color: #18BEA8;
}

#code ul li a {
  color: #c5c8c6;
}

#code ul li a:hover {
  color: #18BEA8;
}

#media {
  color: #a763bb;
}

#media ul li a {
  color: #c5c8c6;
}

#media ul li a:hover {
  color: #a763bb;
}

@media (min-width: 544px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    font-size: 16px;
  }
}
