.body {
  height: 100%;
}

.container {
  background-color: #0E1D26;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 15px;
  border-color: #0E1D26;
  width: 952px;
  padding: 25px;
  font-family: 'SF Mono', monospace;
  font-size: 11px;
}

.hero.is-dark {
  background-color: #0E1D26;
}

li a {
  color: #FFDAFF;
}

li a:hover, li a:visited, li a:active {
  text-decoration: none;
  transition: .1s;
}

#social {
  color: #2A7ABE;
}

#social ul li a {
  color: #FFDAFF;
}

#social ul li a:hover {
  color: #2A7ABE;
}

#reddit {
  color: #F09F41;
}

#reddit ul li a {
  color: #FFDAFF;
}

#reddit ul li a:hover {
  color: #F09F41;
}

#other {
  color: #90BD39;
}

#other ul li a {
  color: #FFDAFF;
}

#other ul li a:hover {
  color: #90BD39;
}

#files {
  color: #cc4a4a;
}

#files ul li a {
  color: #FFDAFF;
}

#files ul li a:hover {
  color: #cc4a4a;
}

#code {
  color: #18BEA8;
}

#code ul li a {
  color: #FFDAFF;
}

#code ul li a:hover {
  color: #18BEA8;
}

#media {
  color: #a763bb;
}

#media ul li a {
  color: #FFDAFF;
}

#media ul li a:hover {
  color: #a763bb;
}

@media (min-width: 544px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    font-size: 16px;
  }
}
